.wrapper {
    width: 400px;
    height: 450px;
}

.header {
    background-color: #141f40;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 20px; 
}
  
.box1 {
    background-color:#a9004b;
    width: 56px;
    height: 60px;
    float: right;
    border: solid  10px #FFFFFF;
}
  
.top1 {
    top:20px;
    bottom:20px;
}
  
.top2 {
    top:20px;
    bottom:20px; 
}
  
.top3 {
    top:20px;
    bottom:20px;  
}

.main {
    display: flex;
}
  
.main-left {
    width: 150px;
    height: 250px;
    float: left;
    background-color: #80bfa8;
    clear: both;
}
  
.main-right {
    height: 250px;
    width: 250px;
    background-color: #8c2727;
    float: left;
}
  
.box2{
    background-color: #ff863f;
    width: 150px;
    height: 50px;
    left: 40px;
    right: 60px;
    border:5px solid #FFFFFF ;
    display: inline-block;
}
  
.right1{
    position: relative;
    top: 40px;
    bottom:5px;
}
  
.right2{
    position: relative;
    top:45px;
    bottom:5px;
}
  
.right3{
    position: relative;
    top: 50px;
    bottom: 5px;
}
  
.footer {
    height: 100px;
    background-color: #d98d30;
    width: 400px;
}
  
* {
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}

@media screen and (max-width: 479px) {
    .wrapper {
        width: 200px;
        height: 680px;
    }
    .header {
        height:220px;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }
    .box1{
        left: 70px;
        right: 70px;
    }
    .main {
        display: block;
    }
    .main-left {
        height: 100px;
        width: 100%;
    }
    .main-right {
        height:240px;
        width: 100%;
    }
    .box2{
        width: 140px;
        left: 30px;
        right: 30p;
    }
    .right1{
        top: 20px;
        bottom:10px;
    }
      
    .right2{
        top:30px;
        bottom:10px;
    }
      
    .right3{
        top:40px;
        bottom:10px;
    }
    
    .footer{
        height:100px;
        width: 100%;
    }
}